@import "../utilidades/variables";


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.bg-navbar {
  background-color: $color-logo;
  ul {
    li {
      a {
        color: white;
      }
    }
  }
}

.nav-link:hover{
  text-decoration: underline;
}
.navbar .navbar-nav .nav-item:hover {
  background-color: #00273a;
  border-radius: 10px;
  }

.navbar .navbar-nav .nav-item:hover .nav-link {
  color: white;
}

// boton de Whatsapp
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Cambiado a la derecha */
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 9999; /* Asegura que quede por encima de otros elementos */
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.521);
  border: 2px solid rgb(25, 10, 228);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: $color-boton-apretado;
  color: white;
}

.mejor-version {
  background-color: white;
  padding: 4.5rem;
}


.actividades {
  padding: 1.5rem;
  text-align: center;
  h2 {
    span {
      font-size: 2.5rem;
      font-weight: bold;
      color: $color-terciario;
    }
    color: white;
  }
  .p-actividades {
    color: white;
  }
  }

.card {
  margin-top: 4em;
  height: 100%;  
  box-shadow: 7px 13px 13px #0A2647;
}
.card-img-top {
  width: 100%; /* Para que se ajusten al ancho de la card */
  height: 200px; /* Ajusta según el tamaño deseado */
  object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
}

.sedes {
  background-image: url("../../img/gym.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8em;
    .texto-sede {
      color: white;
      margin-top: 1.5em;      
        span {
          color: $color-terciario;
          font-size: larger;
          font-weight: bold;
        }
    }
    .map {      
      background-color: rgba(0, 0, 0, 0.65);
      padding: 15px;
      margin-bottom: 1rem;
      
    }
   }



.planes {
  background-image: url("../../img/momentum-gymdos.jpg");
  background-size: 100% 100%;
  margin-top: 4em;
  height: 100vh;
  text-align: center;
  h3 {
    padding: 25px;
    color: white;
    font-weight: bold;
    }
  .p-resaltado {
     font-size: 18px;
     color: white;
    background-color: rgba(255, 255, 255, 0.192);
    display: inline;
    border-radius: 20px;
    padding: 6px;
  }
}

.card-plan {
  width: 15em;
}

/* Estilos generales de los botones */
.btn-toggle {
  background-color: #120b55; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.btn-toggle:hover {
  filter: brightness(1.2);
}

/* Estilo para el botón activo */
.btn-toggle.active {
  background-color: rgb(51, 34, 202); 
  border: 3px solid rgb(0, 0, 0);
  transform: scale(1.05);
}

#btn-tarjeta {
  background-color: #120b55; 
}

#btn-tarjeta.active {
  background-color: rgb(51, 34, 202);
}

//Footer

.footer {
  background-color: #000000;
  margin-top: 3rem;
}

.footer-content {
  color: #000000;
  padding: 80px 0;
  width: min(90%, 1200px);
  overflow: hidden;
  margin: 0 auto;
}

.footer-main {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-contact {
  color: white;
  max-width: 250px;
  display: grid;
  gap: 1.3rem;
  text-align: center;
}

.footer-copy {
  margin-top: 1rem;
  justify-self: center;
  background-color: $color-boton;
  color: #0A2647;
  font-weight: 500;
  padding: 4px;
  border-radius: 6px;
}

.footer-suscribe {
  width: min(100%, 400px);
  height: 200px;
  padding: 2rem 1.5rem;
  background-color: #292a32;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-rows: 48px 48px;
}

.footer-email {
  border: 1px solid white;
  border-radius: 6px;
  padding: 0 1.5rem;
  background-color: transparent;
  color: white;
}

.footer-email::placeholder{
  color: white;
}

.footer-submit {
  background-color: $color-boton;
  color: #0A2647;
  border: none;
  font-weight: 500;
  border-radius: 6px;
}

.footer-copyright {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 2px solid #fff;
}

.footer-copyright-text {
  text-align: center;
  color: white;
}

.ig{
  width: 15%;
}
.footer-info a {
  
  color: white;
}

@media (width >=900px) {

  .footer {
    background-color: $color-principal;
  }

  
  .footer-content {
    background-color: #000000;
    border-radius: 30px 30px 0 0;
  }

  .footer-main {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 55% 1fr;
    grid-template-areas: 
    "logo links"
    "contact suscribe";
  }
  .footer-logo {
    margin-top: 2rem;
  }
  .footer-links {
    grid-area: links;
  }

  .footer-contact {
    grid-area: contact;
  }

  .footer-suscribe{
    grid-area: suscribe;
  }

  .footer-logo-link {
    grid-area: logo;
  }
}